aiohttp==3.3.2
async-timeout==3.0.0
attrs==18.1.0
chardet==3.0.4
click==6.7
discord-rewrite==1.0.0
Flask==1.0.1
idna==2.7
idna-ssl==1.1.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
multidict==4.2.0
mysql-connector-python=8.0.12
websockets==6.0
Werkzeug==0.14.1
yarl==1.1.1
